*{
  margin: 0.5em;
}
body{
  background-color: cadetblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-wrapper{
  background:black;
  height: 40px;
  line-height: normal;
  vertical-align:middle;
  width: 100%;
  top: 0;
  position: fixed;
  overflow: hidden;
}
.mm{
  margin-top: 60px;
}
span a{
  
  text-decoration: none;
  color: white;
  padding: 50px;
  font-size: x-large;
}
.footer{
  text-align: center;
  background:black;
  height: 40px;
  color: white;
  padding: 50px;
  display: block;
  font-size: x-large;
}
.footer i{
  padding:0px 75px;
}

/* img{
  width: 500px;
  height: 500px;
  object-fit: cover;
} */
figure{
  object-fit: cover;
  margin-top: 40px;
}