html {
  scroll-behavior: smooth;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scrolltop {
  background: rgb(70, 112, 226);
  padding: 1em;
  margin: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
}

.main h1 {
  font-weight: 700;
  margin: 1em;
}

.main .caption {
  margin-bottom: 4em;
}

.main .box {
  position: relative;
  height: 600px;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: orange;
  margin: 1em;
}

.main .box.b1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .box.b1 .inner {
  height: calc(50% - 2em);
  width: calc(100% - 2em);
  position: absolute;
  background-color: cyan;
}

.main .box.b1 .inner.i1 {
  top: 0;
  left: 0;
}

.main .box.b1 .inner.i2 {
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .box.b1 .inner.i2 form .form-group {
  margin: 1em;
}

.main .box.b1 .inner.i2 form .form-group input {
  width: 80%;
}

.main .box.b1 .inner.i2 form .form-group label {
  margin-right: 1em;
}

.main .box.b1 .inner.i2 form .btn-primary {
  float: left;
  margin: 1em;
}

.main .box.b2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .box.b2 .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .box.b2 .wrap1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50%;
}

.main .box.b2 .wrap1 .inner {
  margin: 1em;
  height: 100%;
  width: 50%;
  background-color: cyan;
}

.main .box.b2 .wrap1 .inner.i1 {
  margin-right: .5em;
}

.main .box.b2 .wrap1 .inner.i2 {
  margin-left: .5em;
}

.main .box.b2 .i3 {
  width: calc(100% - (1em * 2));
  height: calc(50% - (1em * 2));
  margin: 1em;
  background-color: cyan;
}

.main .box.b3 .inner {
  height: 47%;
  width: 45%;
  background-color: cyan;
  position: absolute;
}

.main .box.b3 .inner.i1 {
  top: 1em;
  left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.main .box.b3 .inner.i2 {
  top: 0;
  right: 0;
  margin-left: 1em;
  margin-bottom: 1em;
}

.main .box.b3 .inner.i3 {
  bottom: 0;
  left: 0;
  margin-right: 1em;
  margin-top: 1em;
}

.main .box.b3 .inner.i4 {
  bottom: 1em;
  right: 1em;
  margin-left: 1em;
  margin-top: 1em;
}

@media screen and (max-width: 768px) {
  .main h1 {
    font-size: 1.5em;
  }
  .main .box.b1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .box.b1 .inner {
    width: calc(100% - (1em * 2));
    height: calc(50% - (1em * 2));
  }
}
/*# sourceMappingURL=style.css.map */